<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

<div class="card ">
    <form method="post" action="saveitem">
        Song: <input type="text" name="song" required />
        Singer: <input type="text" name="Singer" required />
        Youtube URL: <input type="url" name="YoutubeURL" required/>
        Price: <input type="number" step="any" name="Price" />
        Added by: <input type="text" name="addedBy" value="<%=loginName%>" readonly/>

         Genre: <select class="browser-default">
    <option value="1" name="genre">Pop</option>
    <option value="2" name="genre">Blues</option>
    <option value="3" name="genre">Classical</option>
    <option value="1" name="genre">Electronic</option>
    <option value="2" name="genre">Folk</option>
    <option value="3" name="genre">Jazz</option>
    <option value="1" name="genre">Rap</option>
    <option value="2" name="genre">Rock</option>

  </select>

        <button class="btn" type="submit" name="submit">Save Item</button>

    </form>
</div>
<% include ./footer %>
</body>
</html>

