<header>
    <nav>
        <font color="red"></font>
        <a href="/" class="brand-logo center">
            <i class="material-icons">audiotrack</i>
            <font color="green">Kushi's</font>
            <font color="blue">Awesome</font>
            <font color="green">Music</font>
            <font color="blue">Trending</font>
            <font color="green">App</font>
        </a>
    </nav>
</header>
<main class="container">
