<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>

<% include ./header %>

    <p>dont have an account sign up here</p>
    <a href="/signUp">sign up</a>

<p class="red-text text-darken-2"><%= message %></p>

<div class="card">

    <form method="post" action="login">

        User Name: <input type="text" name="loginName"required/>
        Password: <input type="password" name="password"required/>

        <button class="btn" type="submit" name="submit">Welcome</button>

    </form>

</div>
<% include ./footer %>
</body>
</html>
