<html>
    <p class="red-text text-darken-2"><%= message %></p>
    <form action="signUpSubmit" method="post">
        Username:<input type="text" name="userName" required><br>
        Password:<input type="password" name="password" required><br>
        Confirm Password:<input type="password" name="confirmPassword" required>
        <input type="submit" value="Submit">


    </form>
</html>
